*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background: linear-gradient(to right, rgba(170, 255, 0, 0.405), rgba(32, 47, 16, 0.645));
}

.todo-list{
    margin: 1rem;
    background: linear-gradient(to right, rgba(216, 217, 226, 0.405), rgba(222, 230, 213, 0.182));
}
.todo{
    background: linear-gradient(to right, rgba(55, 55, 55, 0.405), rgba(255, 255, 255, 0.255));
}
.todo > *{
    margin: 1rem;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}